.App {
  text-align: center;


  .dashboard {
    display: flex;
    justify-content: center;
  }

  .header {
    display: flex;
    background-color: #00205B;
    padding-left: 100px;
    height: 60px;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      .title {
        color: white;
        padding-left: 10px;
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
      }
    }

  }
}